<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="C:\oraclexe\app\oracle\product\10.2.0\server\jdbc\lib\ojdbc14.jar"/>
</launchConfiguration>
